# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.[SEU_PROJETO]:[SUA_SENHA]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.[SEU_PROJETO]:[SUA_SENHA]@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"

# PIX Info
PIX_KEY="suachavepix@email.com"
PIX_NAME="Seu Nome Completo"
PIX_CITY="Sua Cidade"

# API Security
ADMIN_SECRET="my-super-secret-key"